<section id="about" class="mat-typography" [ngStyle.lt-md]="{'margin-top': '50px', 'margin-bottom': '50px'}">
      <div class="container">

      	<div class="about-section about-heading" fxLayout="column" fxLayoutAlign="center center">
            <div>
            <h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">About</h2>
            </div>
            <div>
	        <h3 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}"></h3>
	        </div>
        </div>

        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
        	<div fxFlex="25">
		          <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
		            <div>
		              <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">build</i>
		            </div>
		            <span fxFlex="30px"></span>
		            <h2 class="about-text">In 15 weeks to junior developer level</h2>
		            <span fxFlex="10px"></span>
		            <p class="about-text">Learn everything you need about Frontend and Backend development in just 15 weeks to get your new career started. Work hands-on and with practical examples from the first day!</p>
		          </div>
		      </div>

		      <div fxFlex="25">
		          <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.lt-md]="{'padding': '0 60px'}">
		            <div>
		              <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">alarm</i>
		            </div>
		            <span fxFlex="30px"></span>
		            <h2 class="about-text">Hands-on learning</h2>
		            <span fxFlex="10px"></span>
		            <p class="about-text">The relatively short duration of just 15 weeks is made possible by a maximum of practical work. We believe that programming can only be learned through the act, which is why we program from day one in teams of two or larger group, solving practical problems.</p>
		          </div>
		      </div>

		      <div fxFlex="25">
		          <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
		            <div>
		              <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">stars</i>
		            </div>
		            <span fxFlex="30px"></span>
		            <h2 class="about-text">Gain experience in real world projects</h2>
		            <span fxFlex="10px"></span>

		            <p class="about-text">Many of our graduate projects are issued by real clients, ranging from NGOs to medium-sized companies. The start of your new career gets a huge boost with those references in your portfolio!</p>
		          </div>
		      </div>

		      <div fxFlex="25">
		          <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
		            <div>
		              <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">settings</i>
		            </div>
		            <span fxFlex="30px"></span>
		            <h2 class="about-text">In 25 weeks to Senior developer level</h2>
		            <span fxFlex="10px"></span>

		            <p class="about-text">Learn everything you need about Frontend and Backend development in just 25 weeks to get your new career started. Work hands-on and with practical examples from the first day!</p>
		          </div>
		      </div>
        </div>
      </div>
</section>
