<form class="form-inline">
  <input name="searchInput" class="form-control" placeholder="Search" #searchInput="ngModel" [(ngModel)]="searchText"
    style="width: 80%;">
  <button class="btn btn-outline-primary" (click)="searchText=''">x</button>
</form>
<table class="table table-sm">
  <thead>
    <th>Username</th>
    <th>Password</th>
    <th></th>
  </thead>
  <ng-container *ngFor="let contact of contactArray">
    <tr class="table-dark" *ngIf="filterCondition(contact)">
      <td>{{users.username}}</td>
      <td>{{users.password}}</td>
      <td>
        <button class="btn btn-info" (click)="UserServiceService.populateForm(users)">Edit</button>
        <button class="btn btn-danger" (click)="onDelete(users.$key)">Delete</button>
      </td>
    </tr>
  </ng-container>
</table>
