<section id="blog" [ngStyle.lt-md]="{'margin-top': '50px', 'margin-bottom': '50px'}">
    <div class="container">
		      <div class="blog-section blog-heading mat-typography" fxLayout="column" fxLayoutAlign="center center">
		            <div>
		            <h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">Blog</h2>
		            </div>
		            <div>
			        <h3 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">Read our latest news!</h3>
			        </div>
		        </div>

			    <div class="owl-carousel owl-theme">
				    <div id="scroll-item" class="item" [about]>
				    	<mat-card>
			              <img mat-card-image src="assets/img/blog1.jpg">
			              <mat-card-content>
			                <a href="#blog"><h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Youtube Story</h5></a>
			                <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.			                </p>
		              </mat-card-content>
			            </mat-card>
				    </div>
				    <div id="scroll-item" class="item" [about]>
				    	<mat-card>
			              <img mat-card-image src="assets/img/blog2.jpg">
			              <mat-card-content>
			                <a href="#blog"><h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Selling Story</h5></a>
			                <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.			                </p>

			              </mat-card-content>
			            </mat-card>
				    </div>
				    <div id="scroll-item" class="item" [about]>
				    	<mat-card>
			              <img mat-card-image src="assets/img/html_css.jpg">
			              <mat-card-content>
			                <a href="#blog"><h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">HTML & CSS Story</h5></a>
			                <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.			                </p>
			              </mat-card-content>
			            </mat-card>
				    </div>
				    <div id="scroll-item" class="item" [about]>
				    	<mat-card>
			              <img mat-card-image src="assets/img/js.jpg">
			              <mat-card-content>
			                <a href="#blog"><h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">JavaScript Story</h5></a>
			                <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.			                </p>

			              </mat-card-content>
			            </mat-card>
				    </div>

				    <div id="scroll-item" class="item" [about]>
				    	<mat-card>
			              <img mat-card-image src="assets/img/python.jpg">
			              <mat-card-content>
			                <a href="#blog"><h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Python Story</h5></a>
			                <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.			                </p>

			              </mat-card-content>
			            </mat-card>
				    </div>
				</div>
				<div fxLayout="row" fxLayoutAlign="center center">
					<button class="customPrevBtn" mat-raised-button color="primary">Prev</button>
	  				<button class="customNextBtn" mat-raised-button color="accent">Next</button>
				</div>
    </div>
</section>
