<div class="card mt-4">
  <div class="card-header" style="display: flex; justify-content: space-between;">
    <h4>Home</h4>
    <h4><a mat-list-item (click)="logout()">Logout</a></h4>
  </div>
  <div class="card-body">
    <p>Welcome to the Beta Access of ThePhonebookCompany!</p>
    <p>Your role is: <strong>{{currentUser.role}}</strong>.</p>
    <p>This page can be accessed by <u>all authenticated users</u>.</p>
    <p class="mb-1">Current User:</p>
    <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    <ul *ngIf="userFromApi">
      <li>{{userFromApi.firstName}} {{userFromApi.lastName}}</li>
    </ul>
  </div>
</div>
<app-phone-book></app-phone-book>
